article {
    width: 800px;
    margin: auto;
}

h1 {
    font-family: 'Trebuchet MS',sans-serif;
    font-size: 4.5em;
    letter-spacing: 2px;
    margin-top: 1.2em;
    margin-bottom: 0.4em;
}
span {
    font-family: 'Times New Roman', Times, serif;
    margin-right: 0.5em;
    color: #adad85;
    font-size: 1.3em;
    display: inline-block;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: #1f1f14;
    line-height: 1.5em;
    font-size: 1.7em;
    margin-bottom: 2em;
    margin-top: 2em;
}

#readOn {
    font-family: 'Trebuchet MS',sans-serif;
    font-size: 1em;
    color:#ffffff;
    background-color: #ea0935;
    text-align: center;
    height: 4em;
    width: 14em;
    border: 0.1px solid;
    letter-spacing: 0.5px;
    margin-right: 1em;
    font-weight: bold;
}

#readLater {
    font-family: 'Trebuchet MS',sans-serif;
    font-size: 1em;
    color: #ea0935;
    background-color: #ffffff;
    text-align: center;
    height: 3.8em;
    width: 14em;
    border-color: #ea0935;
    border: 1px solid;
    font-weight: bold;
    letter-spacing: 0.5px;
}

button {
    margin-bottom: 6em;
}