@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,500&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}
body .main-title {
  color: #0d0d0d;
  font-size: 3em;
  letter-spacing: 0.03em;
  padding: 0.2em;
}

.main {
  display: flex;
  background-color: #e6e6e6;
  box-sizing: border-box;
}
.main .filters-wrapper {
  background-color: #e6e6e6;
  flex-shrink: 0;
  width: 250px;
  margin: 0 1.7em 0 1.5em;
}
.main .filters-wrapper .filter {
  background-color: #ffffff;
  margin-bottom: 1em;
  height: 2.6em;
  padding: 0.2em;
  border-radius: 1.4em;
}
.main .filters-wrapper .filter .option {
  padding: 0.4em;
  display: inline-block;
  font-size: 1.2em;
}
.main .filters-wrapper .filter .fa-times {
  float: right;
  padding: 0.5em;
}
.main .macbooks-wrapper {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}
.main .macbooks-wrapper .product-title {
  margin: 15px;
  font-size: 1.4em;
  margin-top: 0.8em;
}
.main .macbooks-wrapper .image-container {
  box-sizing: border-box;
  display: flex;
  padding-bottom: 10px;
  flex-wrap: wrap;
  margin-bottom: 2em;
  margin-right: 2.5em;
}
.main .macbooks-wrapper .image-container .img1 {
  background-image: url(https://media.metrolatam.com/2020/03/06/img5894-ea599a495a472377f7395cae6b51bb4b-600x400.jpg);
  width: 300px;
  height: 300px;
  margin: 15px;
  background-position: center;
  background-size: cover;
}
.main .macbooks-wrapper .image-container .img2 {
  background-image: url(https://media.metrolatam.com/2020/03/06/img5894-ea599a495a472377f7395cae6b51bb4b-600x400.jpg);
  width: 300px;
  height: 300px;
  margin: 15px;
  background-position: center;
  background-size: cover;
}
.main .macbooks-wrapper .image-container .img3 {
  background-image: url(https://media.metrolatam.com/2020/03/06/img5894-ea599a495a472377f7395cae6b51bb4b-600x400.jpg);
  width: 300px;
  height: 300px;
  margin: 15px;
  background-position: center;
  background-size: cover;
}
.main .macbooks-wrapper .image-container .img4 {
  background-image: url(https://media.metrolatam.com/2020/03/06/img5894-ea599a495a472377f7395cae6b51bb4b-600x400.jpg);
  width: 300px;
  height: 300px;
  margin: 15px;
  background-position: center;
  background-size: cover;
}
.main .macbooks-wrapper .image-container .img5 {
  background-image: url(https://media.metrolatam.com/2020/03/06/img5894-ea599a495a472377f7395cae6b51bb4b-600x400.jpg);
  width: 300px;
  height: 300px;
  margin: 15px;
  background-position: center;
  background-size: cover;
}
.main .macbooks-wrapper .image-container .img6 {
  background-image: url(https://media.metrolatam.com/2020/03/06/img5894-ea599a495a472377f7395cae6b51bb4b-600x400.jpg);
  width: 300px;
  height: 300px;
  margin: 15px;
  background-position: center;
  background-size: cover;
}
.main .macbooks-wrapper .image-container .img7 {
  background-image: url(https://media.metrolatam.com/2020/03/06/img5894-ea599a495a472377f7395cae6b51bb4b-600x400.jpg);
  width: 300px;
  height: 300px;
  margin: 15px;
  background-position: center;
  background-size: cover;
}
.main .macbooks-wrapper .image-container .img8 {
  background-image: url(https://media.metrolatam.com/2020/03/06/img5894-ea599a495a472377f7395cae6b51bb4b-600x400.jpg);
  width: 300px;
  height: 300px;
  margin: 15px;
  background-position: center;
  background-size: cover;
}
.main .macbooks-wrapper .image-container .img9 {
  background-image: url(https://media.metrolatam.com/2020/03/06/img5894-ea599a495a472377f7395cae6b51bb4b-600x400.jpg);
  width: 300px;
  height: 300px;
  margin: 15px;
  background-position: center;
  background-size: cover;
}
.main .macbooks-wrapper .image-container .product {
  background-color: #ffffff;
  margin: 15px;
  margin-top: -2em;
  height: 5em;
}

/*# sourceMappingURL=styles.css.map */
